/.DS_Store
/nlpenvdata/final_clean/archelect_full_clean.csv
/nlpenvdata/final_clean/archelect_1988_clean.csv
/nlpenvdata/final_clean/archelect_1993_clean.csv
/nlpenvoutputs/databases/lda_results_complet.csv
/nlpenvoutputs/lda_bertopic_resultats_complet.csv



